body { 
	margin: 0; 
	font-family: reckless, serif;
/*	font-weight: 400;*/
	font-style: normal;
	overflow-y: scroll;
	overflow-x: hidden;
  background-color: black;
  color: white;
}

@font-face{
  font-family: reckless;
  src: url(recklesslight.otf);
}

@font-face{
  font-family: maison;
  src: url(MaisonNeueTRIAL-Light.otf);
}



::-webkit-scrollbar-thumb {
	border: 2px solid white;
	display: block;
}

::-webkit-scrollbar {
	width: 0.2vw;
	height: 0.2vw;
	display: block;
}
sup{
/*	position: fixed;*/
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 2.2vw;
}

a:link {
  color: white;
  text-decoration: none;
  z-index: 2;
}

a:visited {
  color: white;
}

a:hover {
/*  text-decoration: underline;*/
 /* background-color: blue;*/
  color:#809fff;
  cursor: pointer;
  transition: 1s;
}



#callout{
 font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
display: none;

/*opacity: 0;*/
/*transition: 3s;*/
}

#callout:hover{
  color:#809fff;
  transition: 1s;
  cursor: pointer;

}

.text{
  font-size: 3vw;
  line-height: 1.2;
	position: absolute;
	top: 10vw;
	left:10vw;
	width: 81vw;
  z-index: 1;
	padding-bottom: 18vw;
}

#name{
	position: absolute;
	padding-top: 8vw;
	right: 0vw;	
  text-align: right;
  z-index: -1;
}

#next{
  position: fixed;
  right: 2vw;
  bottom: 1.5vh;
  font-size: 3vw;
}


#pic{
  width: 35vw;
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: 0;
  opacity: 0;
  transition: 3s;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}



.container {
  position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 3vw;
}

.toc{
  height: 3vw;
  position: fixed;
  bottom: 1.8vw;
  right: 2vw;
  z-index: 1;
  cursor: pointer;
  font-size: 3vw;
}

.toc:hover{
 /* text-decoration: underline;*/
  color:#809fff;
  cursor: pointer;
  transition: 1s;
}

.view{
  position: fixed;
  top: 2vh;
  right: 1.8vw;
  /*width: 2.2vw;*/
  height: 2.5vh;
  cursor: pointer;
    font-size: 3vw;
}

.view:hover{
  color: #a6adf2;
  transition: 1s;
}

.menu{
    font-size: 3vw;
    text-align: right;
    width: 34vw;
    height: auto;
    position: fixed;
    right: 5vw;
    top: 2vh;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: linear 1s;
}

.links{
  padding: 1vw;
}

.opaque{
    visibility: visible;
   opacity: 1;
   transition: 2s ease;
}

.image{
  width: 19.9vw;
  z-index: 3;
  position: relative;
}


@media only screen and (max-width: 600px) {

  img{

  }
 
  sup{
    font-size: 6vw;
  }
  .toc{
    display: none;
  }
  .view{
    top:5vh;
    right:8vw;
    font-size: 9vw;
    width:auto;
  }

  .menu{
    height: auto;
    text-align: right;
    top: 10vh;
    right: 8vw;
    font-size: 8vw;
   
  }

  .text{
    left: 8vw;
    top: 28vh;
    height: auto;
    width: 78vw;
    font-size: 8vw;
  }

  .container{
    top:5vh;
    left: 8vw;
    font-size: 8vw;
  }
  #name{
    margin-top: 5vh;
  }
  #pic{
    width: 60vw;
  }

}  
