body { 
	margin: 0; 
	background-color: #000000;
	color: #ffffff;
	font-family: reckless, serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

@font-face{
  font-family: reckless;
  src: url(recklesslight.otf);
}

@font-face{
  font-family: recklessitalic;
  src: url(RecklessTRIAL-LightItalic.otf);
}


::-webkit-scrollbar-thumb {
	border: 2px solid white;
	display: block;
}

::-webkit-scrollbar {
	width: 0.2vw;
	height: 0.2vw;
	display: block;
}

sup{
/*  position: fixed;*/
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 2.2vw;
}

a:link {
  color: white;
  text-decoration: none;
/*  display: flex;*/

}

a:visited {
  color: white;
}

a:hover {
 /* background-color: blue;*/
  color:#809fff;
  cursor: pointer;
  transition: 1s;
}

img{
  width: 13vw;
  filter: grayscale(100%);
}

img:hover{
  filter: none;
  transition: 1s;
}

.view{
  position: fixed;
  top: 2vh;
  right: 1.8vw;
  width: 2.2vw;
  height: 2.5vh;
  cursor: pointer;
    font-size: 3vw;
    z-index: 1;
}

.view:hover{
  color: #a6adf2;
  transition: 1s;
}

.menu{
    font-size: 3vw;
    text-align: right;
    width: 34vw;
    height: auto;
    position: fixed;
    right: 5vw;
    top: 2vh;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: linear 1s;
}

.links{
  padding: 1vw;
}

.opaque{
  visibility: visible;
   opacity: 1;
   transition: 2s ease;
}



.main{
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
  align-items: flex-end;
	left: 50vw;
  	top: 20vw;
	width: 82vw;
	padding-bottom: 5vw;
	transform: translate(-50%, -10%);
}

.text{
	/*width: 21vw;
	height: auto;
	position: relative;
	transition: 1s;
	border: 0.1vw solid white;
	padding: 3vw;
	align-content: center;
	vertical-align: middle;
	font-size: 2vw;*/
  margin-bottom: 2vw;
  padding: 1.7vw;
  font-size: 1.3vw;

}


.container {
   position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 3vw;
  z-index: 1;
}

.about{
  font-size: 3vw;
  line-height: 1.3;
  position: absolute;
  top: 10vw;
  left:10vw;
  width: 55vw;
  z-index: 1;
  padding-bottom: 10vh;
}

#add1{
  font-size: 1.7vw;
}

#add1:hover{
  color:#809fff;
  cursor: pointer;
  transition: 1s;
}

#add:hover{
  color:#809fff;
  cursor: pointer;
  transition: 1s;
}

.notes{
  position: absolute;
  width: 55vw;
  margin-top: 10vh;
  right: -26vw;
  font-size: 2vw;
  padding-bottom: 20vh;
  display: none;
}
.story{
  position: absolute;
  width: 55vw;
  margin-top: 20vh;
  left: -26vw;
  font-size: 2vw;
  padding-bottom: 20vh;
  display: none;
}
#indent{
  position: relative;
  right: -13vw;
}

#epi{

  position: relative;
  width: 55vw;
  margin-top: 10vh;
  right: -13vw;
  font-size: 2vw;
  margin-bottom: 20vh;
  font-family: recklessitalic;
}

#date{
  font-size: 1.5vw;
}
#name{
    position: absolute;
    padding-top: 2vw;
    right: 0vw; 
    text-align: right;
    z-index: -1;
  }

@media only screen and (max-width: 600px) {
  body {
    font-size: 8vw;
  }
  img{
    width:75vw;
  }

  .view{
    top:5vh;
    right:8vw;
    font-size: 9vw;
    width:auto;
  }
  .menu{

    height: auto;
    text-align: right;
    top: 10vh;
    right: 8vw;
    font-size: 8vw;
    z-index: 2;
  }

  .container{
    font-size: 8vw;
    top:5vh;
    left: 8vw;
  }
  .main{
    top: 15vh;
    left: 8vw;
    /* font-size: 15vw; */
    width: 80vw;
    transform: none;
  }
  .text{
    font-size: 8vw;
    padding: 5vw;
  }

  #add{
    font-size:6vw ;
  }

  #add1{
    font-size:6vw ;
  }

  .about{
    top: 20vh;
    width: 80vw;
    left: 8vw;
    font-size: 8vw;
  }
  .notes{
    position: relative;
    left: 0vw;
    font-size: 6vw;
    width: 80vw;
    padding-bottom: 5vh;
  }
  .story{
    position: relative;
    left: 0vw;
    font-size: 6vw;
    width: 80vw;
    padding-bottom: 5vh;
  }
  #epi{
    position: relative;
    left: 0vw;
    font-size: 6vw;
    width: 80vw;
    padding-bottom: 5vh;
  }
  #indent{
    right: 0vw;
  }
  #date{
    font-size:4vw;
  }

}  





